{% extends 'base.html' %}

{% block content %}

<div class="container d-flex flex-row mt-4">
    <div class="d-flex flex-row ">
        <div class="col-md-6">
    <form action="" method='POST'>
         {% csrf_token %}
        Name: <input type="text" placeholder='Enter your name' name='name'><br/>
        Skill: <input type="text" placeholder='Enter your skill' name='skill'><br/>
        Description:<input type="text" placeholder='Enter your name' name='description'><br/>
        <input type="submit" value="Submit">
    </form>

    <a href="{% url 'detail' %}">ALL DETAILS </a>
</div></div></div>

{% endblock %}